<div id="article">
  <div id="header" data-role="header" data-theme="b">
    <a class="back" data-role="button" data-icon="arrow-l" data-rel="back">&nbsp;</a>
    <h1 id="title"><%- title %></h1>
  </div>
  <div data-role="content" data-theme="c">
    <div id="content">
      <p>
        <strong><%- title %></strong><br/>
        <a href="<%= url %>">Source</a>
        |
        <a href="twitter://post?message=<%= title %> - <%= url %>">Tweet</a>
      </p>
      <%- content %>
    </div>	
  </div>
  <div id="footer" data-role="footer" data-theme="b">
    <a class="back" data-role="button" data-icon="arrow-l" data-rel="back">&nbsp;</a>
  </div>
</div>