<div id="bd">
  <img id="splash" src="/images/splash.jpg" height="620" width="785" alt="Read the web without the mess. On your phone. FeedTouch demo shots."/>
  <div id="pitch">
    <div class="content main">
      <h2>Why?</h2>
      <p>
        FeedTouch makes Atom/RSS feed discovery real easy from your mobile phone, it also improves the readability of the feed content.
      </p>
      <h2>Usage</h2>
      <p>
        Simply add <strong>ft.t00.me</strong> in front of a website address, e.g. <a href="http://ft.t00.me/wired.com"><strong>ft.t00.me</strong>/wired.com</a>, then bookmark the page or add it to the home screen.
      </p>
      <p>
        Or use this bookmarklet: <a href="javascript:(function () { window.open('http://ft.t00.me/' + encodeURIComponent(location.href)); })();">FeedTouch me</a>.
      </p>
    </div>
    <div class="content side">
      <h2>Share</h2>
      <p>
        <span class="st_twitter_large" displayText="Tweet"></span><span class="st_facebook_large" displayText="Facebook"></span><span class="st_ybuzz_large" displayText="Yahoo! Buzz"></span><span class="st_gbuzz_large" displayText="Google Buzz"></span><span class="st_email_large" displayText="Email"></span><span class="st_sharethis_large" displayText="ShareThis"></span>
      </p>
      <h2>Hat Tip</h2>
      <p>
        FeedTouch is a mashup of
        <a href="http://code.google.com/apis/feed/">Google Feed</a>
        + <a href="http://code.google.com/p/arc90labs-readability/">Readability</a>, sprinkled with <a href="http://nodejs.org">Node.js</a> and <a href="http://jquerymobile.com">jQuery Mobile</a>.
        </p>
    </div>
    <br style="clear: both;"/>
  </div>
</div>
