<div id="bd">
  <img id="splash" src="/images/splash.jpg" height="620" width="785" alt="Read the web without the mess. On your phone. FeedTouch demo shots."/>
  <div id="pitch">
    <div class="content main">
      <h2>Why FeedTouch?</h2>
      <p>
        There are still so many websites which are not optimized for mobile
        devices. They are painful to read, you keep having to zoom in and
        out, scroll past the ads, and flip through fragments of an article.
      </p>
      <p>
        FeedTouch provides you with an easy way to discover the content of
        those websites via their Atom/RSS feed, and to read the pages using
        fonts and styles that are easy on the eyes, all from the comfort of
        your phone.
      </p>
    </div>
    <div class="content side">
      <h2>Usage</h2>
      <p>
        Simply add <strong>ft.t00.me</strong> in front of a website URL.<br/>
        For example <a href="http://ft.t00.me/wired.com"><strong>ft.prn.la</strong>/wired.com</a>
      </p>
      <h2>Kudos</h2>
      <p>
        FeedTouch is mashed up with
        <a href="http://code.google.com/apis/feed/">Google Feed</a>
        and
        <a href="http://viewtext.org">ViewText</a>.
      </p>
      <h2>Share</h2>
      <p>
        <span class="st_twitter_large" displayText="Tweet"></span><span class="st_facebook_large" displayText="Facebook"></span><span class="st_ybuzz_large" displayText="Yahoo! Buzz"></span><span class="st_gbuzz_large" displayText="Google Buzz"></span><span class="st_email_large" displayText="Email"></span><span class="st_sharethis_large" displayText="ShareThis"></span>
      </p>
    </div>
    <br style="clear: both;"/>
  </div>
</div>