<div class="app-page" data-page="feedpaper">
  <div class="app-topbar black">
    <h1 class="app-title"><strong>Feedpaper</strong></h1>
  </div>
  <div class="app-content">
    <ul class="app-list">
      <% categories.forEach(function (category) { %>
        <li class="app-button" data-target="category-<%= category.id %>"><%= category.title %></li>
      <% }) %>
    </ul>
    <footer>
      <%= footer %>
    </footer>
  </div>
</div>

<div class="app-page" data-page="feedpaper-article">
  <div class="app-topbar black">
    <div class="app-button left hack-data-back" data-target="feedpaper"></div>
    <h1 class="app-title"><strong class="app-title-hook"></strong></h1>
  </div>
  <div class="app-content">
    <div id="article">
      Loading article...
    </div>
    <footer>
      <%= footer %>
    </footer>
  </div>
</div>

<% categories.forEach(function (category) { %>
  <div class="app-page" data-page="category-<%= category.id %>">
    <div class="app-topbar black">
      <div class="app-button left" data-back></div>
      <h1 class="app-title"><strong><%= category.title %></strong></h1>
    </div>
    <div class="app-content">
      <ul class="app-list">
        <% category.feeds.forEach(function (feed) { %>
          <li class="app-button" data-target="feed" data-target-args='{ "id": "<%= feed.id %>", "title": "<%= feed.title %>" }'><%= feed.title %></li>
        <% }) %>
      </ul>
      <footer>
        <%= footer %>
      </footer>
    </div>
  </div>
<% }) %>

<div class="app-page" data-page="feed">
  <div class="app-topbar black">
    <div class="app-button left" data-back></div>
    <h1 class="app-title"><strong class="app-title-hook"></strong></h1>
  </div>
  <div class="app-content">
    <ul class="app-list">
      <li class="app-button">Loading feed...</li>
    </ul>
    <footer>
      <%= footer %>
    </footer>
  </div>
</div>

<div class="app-page" data-page="article">
  <div class="app-topbar black">
    <div class="app-button left" data-back></div>
    <h1 class="app-title"><strong class="app-title-hook"></strong></h1>
  </div>
  <div class="app-content">
    <div id="article">
      Loading article...
    </div>
    <footer>
      <%= footer %>
    </footer>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {{
  <% if (article) { %>
    App.load('feedpaper-article', { url: '<%= article.url %>' }, function () {{
      console.log('FeedPaper application loaded on article page');
    }});
  <% } else { %>
    try {
      App.restore();
      console.log('FeedPaper application restored');
    } catch (err) {
      App.load('feedpaper', function () {{
        console.log('FeedPaper application loaded on home page');
      }});
    }
  <% } %>
}});
</script>