<div id="home" data-role="page">
  <div data-role="header" data-theme="b">
    <h1 id="title">FeedTouch</h1>
  </div>
  <div data-role="content" data-theme="c">	
    <ul id="items" data-role="listview">
      <li id="indicator">&nbsp;</li>
    </ul>	
  </div>
  <div id="footer" data-role="footer" data-theme="b">
    <div id="credit">
      A <a href="http://cliffano.com">Studio Cliffano</a> mini app
    </div>
  </div>
</div>
<script type="text/javascript">
$('#home').live('pageinit', function(event) {
  (new FeedTouch()).home(decodeURIComponent('<%= url %>'), 50);
});
</script>