<!DOCTYPE html>
<html>
<head>
  <title>FeedPaper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="apple-touch-icon" href="/images/icon.png"/>
  <link rel="apple-touch-icon-precomposed" href="/images/icon.png"/>
  <link rel="shortcut icon" href="/images/icon.png"/>
  <link rel="icon" href="/images/icon.png"/>
  <link rel="stylesheet" href="//cdn.kik.com/app/2.0.1/app.min.css"/>
  <link rel="stylesheet" href="/styles/global.css"/>
  <script type="text/javascript" src="//zeptojs.com/zepto.min.js"></script>
</head>
<body>
  <%- body %>
  <script type="text/javascript" src="//cdn.kik.com/app/2.0.1/app.min.js"></script>
  <script type="text/javascript" src="/scripts/global.js"></script>
  <% if ('env.NODE_ENV' === 'production') { %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-247374-12']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <% } %>
</body>
</html>