<!DOCTYPE html>
<html lang="en">
<head>
  <title>FeedTouch | Feed reader + readability mashup for mobile devices</title>
  <meta name="title" content="FeedTouch | Feed reader + readability mashup for mobile devices"/>
  <meta name="description" content="FeedTouch makes Atom/RSS feed discovery real easy from your mobile phone, it also improves the readability of its content."/>
  <meta name="keywords" content="feedtouch, rss, atom, feed, read, reading, iphone, android, mobile, phone"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="/images/favicon.png"/>
  <link rel="stylesheet" href="http://cliffano.com/studio-0.0.0/vendor/bootstrap-2.0.2/css/bootstrap-responsive.min.css" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/styles/brochure/global.css<%= runId %>"/>
</head>
<body>
  <div id="container" class="container-fluid">
    <div id="header" class="row-fluid">
      <div class="span12">
        <a class="brand" href="/">
          <img src="/images/logo.jpg" alt="FeedTouch Logo"/>
        </a>
      </div>
    </div>
    <%- body %>
    <footer>
        Copyright &copy; 2011 <a href="http://cliffano.com">Studio Cliffano</a>.
    </footer>
  </div>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'bcad3b1b-24dc-484e-90b4-cc5dd82ed53d'});</script>
  <% if (env.NODE_ENV === 'production') { %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-247374-12']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <% } %>
</body>
</html>
