body {
    background-color: #ffffff;
}
div#container {
    font-family: helvetica, arial, sans-serif;
    line-height: 170%;
    margin: 0 auto 50px auto;
    max-width: 860px;
}
div#social {
    text-align: right;
}
div#header img, div#splash img {
    max-width: 100%;
}
div#header {
    margin-bottom: 80px;
    margin-top: 30px;
    text-align: center;
}
div#body {
    text-align: center;
}
div#body div#pitch {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    background-color: #efefef;
    border: 1px solid #cccccc;
    padding: 15px;
    text-align: left;
}
footer {
    font-size: 90%;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}
a {
    color: #ee4000;
}