div.app-title {
  font-family: georgia, serif;
  font-weight: bold;
  text-align: center;
}
ul.app-list li.app-button {
  color: #000000;
  font-family: georgia, serif;
}
div#article {
  background-color: #ffffff;
  font-family: georgia, serif;
  font-size: 17px;
  line-height: 160%;
  padding: 20px;
}
div#article a {
  background-color: #ffffff;
  color: #333333;
  text-decoration: underline;
}
div#article a:hover {
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
}
div#article p {
  margin: 20px 0;
}
footer {
  color: #000000;
  font-family: georgia, serif;
  font-size: 85%;
  padding: 20px;
  text-align: center;
}
/* this hack is needed because app.js doesn't set background-image correctly
   on left button without data-back */
.hack-data-back {
  padding: 15px 0 15px 27px;
  height: 14px;
  background-image: url('../images/data-back.png');
  background-repeat: no-repeat;
  -webkit-background-size: 12px 20px;
  background-size: 12px 20px;
  background-position: 8px center;
  line-height: 14px;
}