div.app-title {
  font-family: georgia, serif;
  font-weight: bold;
  text-align: center;
}
ul.app-list li.app-button {
  color: #000000;
  font-family: georgia, serif;
}
div#article {
  background-color: #ffffff;
  font-family: georgia, serif;
  font-size: 16px;
  line-height: 130%;
  padding: 20px;
}
div#article a {
  background-color: #ffffff;
  color: #333333;
  text-decoration: underline;
}
div#article a:hover {
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
}
div#article p {
  margin: 20px 0;
}
footer {
  color: #000000;
  font-family: georgia, serif;
  font-size: 85%;
  padding: 20px;
  text-align: center;
}