h1.app-title {
  font-family: nimbus-sans-condensed, serif;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}
ul.app-list li.app-button {
  color: #000000;
  font-family: adelle, georgia, serif;
}
h2 {
  font-family: 'times new roman', serif;
}
div#article {
  background-color: #ffffff;
  font-family: adelle, georgia, serif;
  font-size: 17px;
  line-height: 160%;
  padding: 20px;
}
div#article a {
  background-color: #ffffff;
  color: #333333;
  text-decoration: underline;
}
div#article a:hover {
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
}
div#article img {
  clear: both;
}
div#article p.features {
  font-family: helvetica, sans-serif;
}
div#article p {
  margin: 20px 0;
}
div#article ul {
  list-style-type: none;
}
footer {
  color: #666666;
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
/* this hack is needed because app.js doesn't set background-image correctly
   on left button without data-back */
.hack-data-back {
  background-image: url('../images/data-back.png');
  background-repeat: no-repeat;
  background-size: 40%;
  -webkit-background-size: 40%;
  background-position: center;
  height: 14px;
  line-height: 14px;
  padding: 15px 0 15px 27px;
}